<div class="d-flex justify-content-center mt-2 " style="height: 400px">

    <div class="border row col-md-5 d-flex justify-content-center"
      style="background-color: rgba(179, 218, 218, 0.1);">
      <!-- <video width="320" height="240" controls>
        <source src="https://youtu.be/X2hBYGwKh3I" type="video/mp4">
        <source [src]="quizedMovie.trailer.link" type="video/ogg">
      Your browser does not support the video tag.
      </video> -->
      <iframe width="560" height="315" src="https://www.youtube.com/embed/X2hBYGwKh3I" frameborder="0" allow=" autoplay; clipboard-write; encrypted-media;" allowfullscreen></iframe>
    </div>
  
    <div class="border row col-md-5 d-flex justify-content-center"
      style="background-color: rgba(179, 218, 218, 0.1);">
      <h1 class="my-auto">{{ quizedMovie.title }}</h1>
    </div>
  
  </div>  
